:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --attribution: hsl(228, 45%, 44%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;;
}
html { 
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-family: 'Outfit', sans-serif;
    max-width: 100%;
    height: calc(100vh - 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    position: relative;
}
.container__box {
    background-color: var(--white);
    width: 20rem;
    height: 32.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}
.container__box > * {
    margin: 1rem auto 0 auto;
    text-align: center;
}
.img {

    width: 18rem;
    border-radius: 1rem;
    height: 20rem;
}
.heading-primary {
    font-weight: 700;
    width: 17rem;
    font-size: 1.5rem;
    color: var(--dark-blue);
}

.paragraph {
    width: 17rem;
    font-size: 1rem;
    font-weight: 400; 
    color: var(--grayish-blue);
}

.attribution { 
    position: absolute;
    bottom: 0;
}
.attribution a { color: var(--attribution); }

.footer-text {
    font-size: 1.1rem; text-align: center; 
    
}
.footer-text:not(:last-child) {
    margin-right: 1px;
    
}
@media only screen and (max-width: 376px) {

    html {
        font-size: 1rem;
    }
    body {
        min-height: 40rem;
    }
    .attribution {
        min-height: 2.5rem;
        display: flex;
        flex-direction: column;
    }
    .footer-text {
        font-size: .6rem; 
    }
  
}